name: publish

on:
  pull_request:
    types: [ closed ]
    branches:
      - master
      - 'support/*'

jobs:
 analyze_and_test:
  name: Analyze code and run tests before publishing
  uses: ./.github/workflows/analyze_and_test.yml
   
 platform_interface_publish:
    needs: [analyze_and_test]
    if: github.event.pull_request.merged
    timeout-minutes: 4
    runs-on: ubuntu-latest
    name: mindbox_platform_interface publishing
    steps:
      - uses: actions/checkout@v2.3.3
        with:
          fetch-depth: 2
      - name: Check package Pubspec
        id: pubspec
        run: |
          set +e
          git diff-tree --no-commit-id --name-only -r HEAD~1 ${{ github.sha }} | grep 'mindbox_platform_interface/pubspec.yaml'
          echo ::set-output name=changed::$?
          set -e
      - name: Extract package version
        if: steps.pubspec.outputs.changed == 0
        run: |
          cd mindbox_platform_interface
          echo "VERSION=$(awk '{if ($1 ~ /^version:/) print $2}' pubspec.yaml)" >> $GITHUB_ENV
      - uses: sakebook/actions-flutter-pub-publisher@v1.3.1
        if: steps.pubspec.outputs.changed == 0
        with:
          package_directory: mindbox_platform_interface
          credential: ${{ secrets.PUB_CREDENTIALS }}
          flutter_package: true
          skip_test: true
      - name: Create Release
        if: steps.pubspec.outputs.changed == 0
        id: create_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: mindbox_platform_interface-v${{ env.VERSION }}
          release_name: mindbox_platform_interface v${{ env.VERSION }}
          draft: false
          prerelease: false

 native_components_publish:
    needs: [analyze_and_test,platform_interface_publish]
    if: github.event.pull_request.merged
    timeout-minutes: 4
    runs-on: ubuntu-latest
    name: ${{ matrix.package }} publishing
    strategy:
      matrix:
        package:
          - 'mindbox_android'
          - 'mindbox_ios'
      fail-fast: false

    steps:
      - uses: actions/checkout@v2.3.3
        with:
          fetch-depth: 2
      - name: Check package Pubspec
        id: pubspec
        run: |
          set +e
          git diff-tree --no-commit-id --name-only -r HEAD~1 ${{ github.sha }} | grep '${{ matrix.package }}/pubspec.yaml'
          echo ::set-output name=changed::$?
          set -e
      - name: Extract package version
        if: steps.pubspec.outputs.changed == 0
        run: |
          cd ${{ matrix.package }}
          echo "VERSION=$(awk '{if ($1 ~ /^version:/) print $2}' pubspec.yaml)" >> $GITHUB_ENV
      - uses: sakebook/actions-flutter-pub-publisher@v1.3.1
        if: steps.pubspec.outputs.changed == 0
        with:
          package_directory: ${{ matrix.package }}
          credential: ${{ secrets.PUB_CREDENTIALS }}
          flutter_package: true
          skip_test: true
      - name: Create Release
        if: steps.pubspec.outputs.changed == 0
        id: create_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ matrix.package }}-v${{ env.VERSION }}
          release_name: ${{ matrix.package }} v${{ env.VERSION }}
          draft: false
          prerelease: false
          
 plugin_publish:
    needs: [analyze_and_test,platform_interface_publish, native_components_publish]
    if: github.event.pull_request.merged
    timeout-minutes: 4
    runs-on: ubuntu-latest
    name: mindbox publishing
    steps:
      - uses: actions/checkout@v2.3.3
        with:
          fetch-depth: 2
      - name: Check package Pubspec
        id: pubspec
        run: |
          set +e
          git diff-tree --no-commit-id --name-only -r HEAD~1 ${{ github.sha }} | grep 'mindbox/pubspec.yaml'
          echo ::set-output name=changed::$?
          set -e
      - name: Extract package version
        if: steps.pubspec.outputs.changed == 0
        run: |
          cd mindbox
          echo "VERSION=$(awk '{if ($1 ~ /^version:/) print $2}' pubspec.yaml)" >> $GITHUB_ENV
      - uses: sakebook/actions-flutter-pub-publisher@v1.3.1
        if: steps.pubspec.outputs.changed == 0
        with:
          package_directory: mindbox
          credential: ${{ secrets.PUB_CREDENTIALS }}
          flutter_package: true
          skip_test: true
          dry_run: false
      - name: Create Release
        if: steps.pubspec.outputs.changed == 0
        id: create_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: mindbox-v${{ env.VERSION }}
          release_name: mindbox v${{ env.VERSION }}
          draft: false
          prerelease: false
